coap-server.json
[
    {
        "id": "e237f4a1.bd2cd",
        "type": "tab",
        "label": "Sheet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ce129d0.866cd",
        "type": "coap request",
        "z": "e237f4a1.bd2cd",
        "method": "PUT",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "url": "coap://localhost/actuators/relay",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Observe /actuators/relay",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5eb20b0dddb649df"
            ]
        ]
    },
    {
        "id": "5dc3e18a.3f61d8",
        "type": "inject",
        "z": "e237f4a1.bd2cd",
        "name": "Turn off relay",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9ce129d0.866cd"
            ]
        ]
    },
    {
        "id": "618baad70411c88f",
        "type": "coap in",
        "z": "e237f4a1.bd2cd",
        "method": "PUT",
        "name": "PUT /actuators/relay",
        "server": "ab3060f4c7e96482",
        "url": "/actuators/relay",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "89ebb7627a31a5ec",
                "5eb20b0dddb649df"
            ]
        ]
    },
    {
        "id": "bc0a2b3317f83757",
        "type": "inject",
        "z": "e237f4a1.bd2cd",
        "name": "Turn on relay",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "9ce129d0.866cd"
            ]
        ]
    },
    {
        "id": "89ebb7627a31a5ec",
        "type": "coap response",
        "z": "e237f4a1.bd2cd",
        "name": "",
        "statusCode": "",
        "contentFormat": "text/plain",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc90b83ecadfd472",
        "type": "debug",
        "z": "e237f4a1.bd2cd",
        "name": "Get relay state with GET",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "cdede0d8514dfe67",
        "type": "coap in",
        "z": "e237f4a1.bd2cd",
        "method": "GET",
        "name": "GET /actuators/relay",
        "server": "ab3060f4c7e96482",
        "url": "/actuators/relay",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "9a95ad2d56999a6a"
            ]
        ]
    },
    {
        "id": "06f3355ff56d176c",
        "type": "coap response",
        "z": "e237f4a1.bd2cd",
        "name": "",
        "statusCode": "",
        "contentFormat": "text/plain",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "a3b96082864fa589",
        "type": "debug",
        "z": "e237f4a1.bd2cd",
        "name": "Relay state after PUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "5eb20b0dddb649df",
        "type": "function",
        "z": "e237f4a1.bd2cd",
        "name": "function 1",
        "func": "var relay_state = flow.get('relay_state')\n\nflow.set('relay_state', msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "a3b96082864fa589"
            ]
        ]
    },
    {
        "id": "9a95ad2d56999a6a",
        "type": "function",
        "z": "e237f4a1.bd2cd",
        "name": "function 2",
        "func": "var relay_state = flow.get('relay_state')\n\nmsg.payload = relay_state\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "fc90b83ecadfd472",
                "06f3355ff56d176c"
            ]
        ]
    },
    {
        "id": "ab3060f4c7e96482",
        "type": "coap-server",
        "name": "CoAP Server",
        "port": "5683",
        "ipv6": false
    }
]
